.row {
  &.align-top {
    align-items: flex-start;
  }

  &.align-bottom {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.is-mobile {
    display: flex;

    > .col:not(:last-child) {
      margin-right: $gutter;
    }
  }

  @include tablet {
    &:not(.is-desktop) {
      display: flex;

      > .col:not(:last-child) {
        margin-right: $gutter;
      }
    }
  }

  @include desktop {
    display: flex;

    > .col:not(:last-child) {
      margin-right: $gutter;
    }
  }
}

.col {
  flex: 1 1 0;
  border: 1px solid blue;
  margin-bottom: $gutter;

  &.align-top {
    align-self: flex-start;
  }

  &.align-bottom {
    align-self: flex-end;
  }

  &.align-center {
    align-self: center;
  }

  &.is-half {
    flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * #{$gutter});
  }

  &.is-one-third {
    flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * #{$gutter});
  }

  &.is-one-quarter {
    flex: 0 0 calc(1/4 * 100% - (1 - 1/4) * #{$gutter});
  }
}

.col-debug {
  @extend .col;
  height: 4rem;
  background-color: $purple-lighten;
}