$gutter: 0.75rem; // 12px

// Color palette
$light-pinkpurple: rgba(158, 120, 143, 1);
$light-bluegrey: rgba(169, 179, 206, 1);
$light-white: rgba(254, 255, 254, 1);
$medium-bluepurple: rgba(114, 132, 168, 1);
$dark-bluetint: rgba(71, 73, 84, 1);
$highlight-color: rgba($light-bluegrey, 0.3);

$font-family: 'Nunito Sans', sans-serif;
$line-height: 1.5rem;

$break-tablet: 48rem; // 768px
$break-desktop: 62rem; // 992px
$break-wide-desktop: 75rem; // 1200px