@import "vendor/normalize";
@import "variables";
@import "mixins";
@import "layout";
@import "typography";
@import "grid";

.info {
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
  background-color: $blue-lighten;
}

.warning {
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
  background-color: $yellow-lighten;
}